@keyframes etirer {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}
#chargement {
  height: 20px;
  width: 200px;
  border: 2px solid grey;
  border-radius: 15px;
  margin: 0 auto;
}
.greenlight {
  height: 20px;
  background-color: green;
  animation: 1s etirer;
  border-radius: 15px;
}

.pop-up {
  position: absolute;
  bottom: 200px;
  left: 150px;
  width: 500px;
  height: 500px;
  border-radius: 15%;
  background-color: beige;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pop-up img {
  width: 250px;
  height: 250px;
}
.apparaitre {
  display: flex;
  transition: all 2s;
  transition-timing-function: ease-in-out;
}
