* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: coral;
  color: white;
}

.links a {
  text-decoration: none;
  margin-left: 5px;
  color: white;
}

.menu {
  display: none;
}

@media screen and (max-width: 500px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  span {
    width: 30px;
    height: 5px;
    background: white;
    margin-top: 4px;
    transition: 0.4s;
  }
  .links a {
    display: none;
  }

  .span1on {
    transform: rotate(-45deg);
    transition: 0.4s;
  }
  .span2on {
    display: none;
  }
  .span3on {
    transform: rotate(45deg);
    transition: 0.4s;
    margin-top: -5px;
  }
  .linkson {
    display: block !important;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .linksposition {
    position: absolute;
    top: 60px;
    background-color: coral;
    width: 100%;
    height: 250px;
    left: 0;
    transition: 0.4s;
  }
}
